body {
    margin: 0;
}

.barra-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;

    font-family: Arial;
  }
  
.barra-superior {
    background-color: #e0e0e0;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.usuario-botao {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: #7c7c7c;
}

.usuario-icon-fundo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #436850;
    color: #ffffff;
}


.menu-usuario {
    position: absolute;
    top: calc(100% + 5px);
    width: 350px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 10;
}

.menu-usuario-topo{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
    background: #e0e0e0;
}

.avatar-usuario{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #436850;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    overflow: hidden;
    border: 2px solid #436850;
}

.avatar-usuario-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-icone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuario-info{
    display: flex;
    flex-direction: column;
    color: #7c7c7c;
}

.usuario-info span{
    font-size: 12px;
    color: #7c7c7c;
}

.menu-usuario-detalhes{
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
}

.detalhe{
    display: flex;
    align-items: center;
    color: #436850;
    gap: 2px;
}

.detalhe span{
    color: #7c7c7c;
}

.menu-usuario-acoes {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
    gap: 5px;
}

.menu-usuario-acoes button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2px;
    border: none;
    background: #f5f5f5;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.botao-sair{
    background: #c0392b !important;
    color: #ffffff;
}

.botao-sair:hover{
    background: #99211d !important;
}

.barra-navegacao {
    background-color: #ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo-retangulo {
    display: flex;
    align-items: center;
  
}
  
.logo-img {
    width: 90%;
    max-width: 90PX;
    height: auto;
    margin-bottom: 0;
}
  
.menu-navegacao {
    display: flex;
    gap: 20px;
}
  
.menu-navegacao button {
    background: transparent;
    border: none;
    color: #7c7c7c;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2px;
}
  
.menu-navegacao button:hover {
    background-color: #e0e0e0;
}
  
.menu-navegacao .ativo {
    background-color: #436850;
    color: #ffffff;
}

.menu-navegacao .ativo:hover {
    background-color: #35563f;
}
  
.conteudo {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background:#fdf6e3;
    min-height:100vh;
}