.home-container{
    font-family: Arial;
}
    
.home-saudacao-box{
    background: #ffffff;
    border-left:6px solid #436850;
    padding:20px;
    border-radius:12px;
    margin-bottom:30px;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
    color:#7C7C7C;
    font-size: 18px;
}
  
.home-info-dia{
    background: #ffffff;
    padding:20px;
    border-radius: 8px;
    margin-bottom:30px;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
}
    
.home-info-dia h3{
    margin-bottom:20px;
    color:#7C7C7C;
}
    
.home-info-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}
    
.home-info-card{
    background:#F5F5F5;
    padding:20px;
    border-radius:8px;
    text-align:center;
}
    
.home-info-label{
    font-size:14px;
    color:#7C7C7C;
    margin-bottom:5px;
}
    
.home-info-value{
    font-size:24px;
    font-weight:bold;
    color:#7C7C7C;
}
    
.home-cards-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:30px;
}

.home-card{
    background:#ffffff;
    border-radius:8px;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

.home-card-info h4{
    color:#7C7C7C;
    font-size:14px;
    margin-bottom:5px;
}

.home-card-number{
    font-size:28px;
    font-weight:bold;
    color:#7C7C7C;
}

.home-card-info p{
    font-size:12px;
    color:#A0A0A0;
}

.home-card-icon{
    width:45px;
    height:45px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.green{
    background:#436850;
    color:white;
}

.yellow{
    background:#f2c14e;
    color:white;
}

.brown{
    background:#5c4033;
    color:white;
}

.blue{
    background:#3b82f6;
    color:white;
}

.home-tabela-container{
    color: #7C7C7C;
    padding:20px;
}

.home-tabela{
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.home-tabela th{
    text-align:left;
    padding:12px;
    background-color: #e0e0e0;
    color:#7C7C7C;
    font-weight: bold;
}

.home-tabela td{
    padding:12px;
    color: #7C7C7C;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

.tipo-entrada{
    background:#d4edda;
    color:#155724;
    padding:3px 8px;
    border-radius:12px;
    font-size:12px;
}

.tipo-saida{
    background:#f8d7da;
    color:#721c24;
    padding:3px 8px;
    border-radius:12px;
    font-size:12px;
}

.status-patio{
    background:#fff3cd;
    color:#f2c14e;
    padding:3px 8px;
    border-radius:12px;
    font-size:12px;
}

.status-finalizado{
    background:#e2e3e5;
    color:#7C7C7C;
    padding:3px 8px;
    border-radius:12px;
    font-size:12px;
}

.home-mov-baixa{
    color:#436850;
    font-weight:bold;
}
    
.home-mov-media{
    color: #f2c14e;
    font-weight:bold;
}
    
.home-mov-alta{
    color:#c62828;
    font-weight:bold;
}