.carregando-container {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  background-color: rgba(124, 124, 124, 0.5);
}
  
.orb {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #98D8C8;
  border-right-color: #98D8C8;
  animation: girar 1s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}