/*sendo uma classe a margin não funcionava*/
body {
    margin: 0;
}

.es-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #7C7C7C 0%, #8A8A8A 100%);

    font-family: Arial;
}

.es-card {
    width: 100vh;
    max-width: 400px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 32px;
}

.es-retangulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    margin-bottom: 32px; 
}

.es-img {
    width: 64px; 
    height: 64px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.es-titulo {
    font-size: 36px; 
    font-weight: bold;
    color: #7C7C7C;
}

.es-subtitulo {
    font-size: 20px; 
    font-weight: bold;
    color: #7C7C7C;
    text-align: center;
    margin-bottom: 32px;
}

.es-form {
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 8px; 
    font-size: 14px;
    color: #7C7C7C;
}

.form-input {
    padding: 15px 16px; 
    border-radius: 8px; 
    border: 2px solid #98D8C8;
    background-color: #FEFDFB;
    font-size: 14px;
    outline: none;
}
  
.form-input:focus {
    border: 2px solid #7C7C7C;
}
  
.form-acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.botao1 {
    padding: 15px 32px; 
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #F4E87C;
    color: #7C7C7C;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.botao1:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.botao2 {
    padding: 15px 32px; 
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #98D8C8;
    color: #7C7C7C;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.botao2:hover {
    opacity: 0.9;
    transform: scale(1.1);
}