.home-container{
    font-family: Arial;
}
    
.home-saudacao-box{
    background:white;
    border-left:6px solid #98D8C8;
    padding:20px;
    border-radius:12px;
    margin-bottom:30px;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
    color:#7C7C7C;
    font-size:18px;
}
  
.home-info-dia{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:30px;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
}
    
.home-info-dia h3{
    margin-bottom:20px;
    color:#7C7C7C;
}
    
.home-info-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}
    
.home-info-card{
    background:#F5F5F5;
    padding:20px;
    border-radius:10px;
    text-align:center;
}
    
.home-info-label{
    font-size:14px;
    color:#7C7C7C;
    margin-bottom:5px;
}
    
.home-info-value{
    font-size:24px;
    font-weight:bold;
    color:#7C7C7C;
}
    
.home-estatistica-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    max-width:600px;
}

.home-estatistica-grid h3{
    color: #7C7C7C;
    font-weight: 500;
}
    
.home-estatistica-card{
    padding:30px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
}
    
.entrada{
    background:#98D8C8;
}
    
.saida{
    background:#F4E87C;
}
    
.home-numero{
    font-size:60px;
    font-weight:bold;
    color:#7C7C7C;
    margin-top:10px;
}

.home-mov-baixa{
    color:#2e7d32;
    font-weight:bold;
}
    
.home-mov-media{
    color:#f4b400;
    font-weight:bold;
}
    
.home-mov-alta{
    color:#c62828;
    font-weight:bold;
}