body {
    margin: 0;
}

.login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #7C7C7C 0%, #8A8A8A 100%);
    font-family: Arial;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    margin-bottom: 32px; 
}

.login-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.login-titulo {
    font-size: 36px;
    font-weight: bold;
    color: #436850;
    margin: 0;
}

.login-subtitulo {
    font-size: 24px;
    font-weight: 600;
    color: #7C7C7C;
    text-align: center;
    margin-bottom: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.login-label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #7C7C7C;
}

.logo-input-icon {
    display: flex;
    align-items: center;
    border: 2px solid #e0e0e0;
    border-radius: 6px;
    padding: 0 12px;
}

.logo-input-icon svg {
    color: #7C7C7C;
}

.login-input {
    flex: 1;
    padding: 14px 12px;
    border: none;
    outline: none;
    font-size: 14px;
}

.logo-input-icon:focus-within {
    border-color: #436850;
}

.login-form-acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.esqueceu-senha {
    border: none;
    cursor: pointer;
    color: #436850;
    background: none;
    font-size: 12px;
}

.esqueceu-senha:hover {
    text-decoration: underline;
}

.login-botao {
    padding: 15px 32px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #436850;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

.login-botao:hover {
    background-color: #35563f;
}


.erro-texto {
    color: #c0392b;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}