.mm-fundo {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    z-index: 1000;
}
  
.mm-card {
    background: white;
    color: #7c7c7c;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
}

.mm-form {
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.mm-form-container {
    display: flex;
    flex-direction: column;
}

.mm-form-container select {
    color: #7C7C7C;
}

.mm-label {
    font-size: 14px;
    font-weight: 500;
    color: #7C7C7C;
}

.mm-input {
    padding: 15px 16px; 
    border-radius: 8px; 
    border: 2px solid #98D8C8;
    background-color: #FEFDFB;
    font-size: 14px;
    outline: none;
   
}
  
.mm-input:focus {
    border: 2px solid #7C7C7C;
}
  
.mm-form-acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.mm-cancelar {
    padding: 15px 32px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
    background-color: #F4E87C;
    color: #7C7C7C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mm-cancelar:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.mm-salvar {
    padding: 15px 32px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
    background-color: #98D8C8;
    color: #7C7C7C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mm-salvar:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.erro-texto {
    color: #c0392b;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}  